/*
 * @Description: undefined
 * @author: zhongw@corp.21cn.com
 * @Date: 2018-07-10 18:52:14
 * @Last Modified by: zhongw@corp.21cn.com
 * @Last Modified time: 2018-07-26 17:59:01
 */
@charset 'utf-8';
@import "../../helps/var";
.r-fade-enter-active,
.r-fade-leave-active {
  transition: opacity .5s;
}

.r-fade-enter,
.r-fade-leave-to
/* .r-fade-leave-active below version 2.1.8 */

  {
  opacity: 0;
}

.r-fade-in-linear-enter-active,
.r-fade-in-linear-leave-active {
  transition: $--fade-linear-transition;
}

.r-fade-in-linear-enter,
.r-fade-in-linear-leave,
.r-fade-in-linear-leave-active {
  opacity: 0;
}

.r-fade-in-linear-enter-active,
.r-fade-in-linear-leave-active {
  transition: $--fade-linear-transition;
}

.r-fade-in-linear-enter,
.r-fade-in-linear-leave,
.r-fade-in-linear-leave-active {
  opacity: 0;
}

.r-fade-in-enter-active,
.r-fade-in-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.r-fade-in-enter,
.r-fade-in-leave-active {
  opacity: 0;
}

.r-zoom-in-center-enter-active,
.r-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.r-zoom-in-center-enter,
.r-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.r-zoom-in-top-enter-active,
.r-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}

.r-zoom-in-top-enter,
.r-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.r-zoom-in-bottom-enter-active,
.r-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center bottom;
}

.r-zoom-in-bottom-enter,
.r-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.r-zoom-in-left-enter-active,
.r-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: $--md-fade-transition;
  transform-origin: top left;
}

.r-zoom-in-left-enter,
.r-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45);
}

.r-zoom-in-center-enter-active,
.r-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.r-zoom-in-center-enter,
.r-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.r-zoom-in-top-enter-active,
.r-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}

.r-zoom-in-top-enter,
.r-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.r-zoom-in-bottom-enter-active,
.r-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center bottom;
}

.r-zoom-in-bottom-enter,
.r-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.r-zoom-pop-enter-active,
.r-zoom-pop-leave-active {
  transition: $--all-transition;
}

.r-zoom-pop-enter,.r-zoom-pop-leave-to{
  transform: translateY(100%)
}

// .r-zoom-pop-enter,
// .r-zoom-pop-leave-active {
//   transform: translate3d(-50%, 100%, 0);
// }




.r-zoom-in-left-enter-active,
.r-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: $--md-fade-transition;
  transform-origin: top left;
}

.r-zoom-in-left-enter,
.r-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45);
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}

.r-list-enter-active,
.r-list-leave-active {
  transition: all 1s;
}

.r-list-enter,
.r-list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}

.r-opacity-transition {
  transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in 0.3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out 0.3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}