@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@import "../../helps/function.scss";
@import "./mixin.scss";

@include b(input) {
  width: $--input-width;
  font-size: $--font-size-base;
  @include e(inner) {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $--input-border-radius;
    display: flex;
    align-items: center;
    & span{
      position: relative;
      color: $--color-info;
    }
    & input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #ebeef5;
      padding: $--input-padding-default;
      border-radius: $--input-border-radius;
      &:focus {
        outline: none;
        border-color: $--input-focus-border;
      }
      @include when(disabled){
        
      }
    }

  }

  @include m(prefix) {
    $padding-select: 'padding-left';
    @include input-padding-variant($padding-select, $--input-padding-prefix)
  }
  @include m(suffix) {
    $padding-select: 'padding-right';
    @include input-padding-variant($padding-select, $--input-padding-suffix)
  }
  @include m(large) {
    @include input-size($--input-large-font-size, $--input-large-width, $--input-large-height)
  }
  @include m(transparent){
   & input{
     border:0;
     background-color: transparent
   }
  }
  @include e(tips) {
    position: absolute;
    display: block;
    margin-top: 10px;
    left: 20px;
    font-size: $--input-large-font-size;
    color: $--color-danger
  }
}
