$re-doc-blue: #3498db;
$re-doc-text-color: #333;
$re-doc-text-light-blue: rgba(69, 90, 100, .6);
$re-doc-grey: #999;
$re-doc-dark-grey: #666;
$re-doc-light-grey: #ccc;
$re-doc-border-color: #eaeefb;;
$re-doc-code-color: #455a64;
$re-doc-padding: 40px;
$re-doc-row-max-width: 1440px;

/* header */
$re-doc-header-top-height: 60px;
$re-doc-header-bottom-height: 50px;

/* simulator */
$re-doc-simulator-width: 360px;
$re-doc-simulator-small-width: 320px;
$re-doc-simulator-height: 620px;
$re-doc-simulator-small-height: 560px;

