/*
 * @Author: zhongw@corp.21cn.com 
 * @Date: 2018-07-02 22:23:03 
 * @Last Modified by: zhongw@corp.21cn.com
 * @Last Modified time: 2018-07-11 12:04:59
 */

@charset 'utf-8';
@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@include b('region-choose') {
  font-family: PingFangSC-Regular;
  @include e(tab) {
    // padding-top: 35px;
  }
  @include e(list) {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width:100%;
    height: 347px;
    max-height: 347px;
    padding-bottom: 12.5px;
    box-sizing: border-box
  }
  @include e(space) {
    padding: 12.5px 0 0 20px;
    color: $--color-grey;
    font-size: 12px;
    @include when(choose){
      color:$--color-primary
    }
  }
  .r-tabs__header{
    border-bottom: 1px solid #ECECEC;
  }
  .r-tabs__nav{
    width: auto
  }

}