/*
 * @Author: zhongw@corp.21cn.com 
 * @Date: 2018-06-26 12:10:36 
 * @Last Modified by: zhongw@corp.21cn.com
 * @Last Modified time: 2018-08-23 16:27:58
 */
@charset 'utf-8';
@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@include b(carousel-item) {
  float: left;
  cursor: pointer;
  img{
    width: 100%!important;
    height: 100%!important;
    display: block;
    pointer-events:none
  }
}