/*
 * @Author: zhongw@corp.21cn.com 
 * @Date: 2018-06-04 10:17:29 
 * @Last Modified by: zhongw@corp.21cn.com
 * @Last Modified time: 2018-08-21 12:12:07
 */
 @charset 'utf-8';
 @import '../normalize';
 @import '../base';
 @import '../help/functions';

 .re-doc-markdown{
   width: calc(100% - 600px);
   min-width: 920px;
   max-width: calc(100% - 500px);
   overflow-y: auto;
   max-height: 100%;

   &>section{
    padding-bottom: 50px!important;
   }
 }