@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@import "../../helps/function.scss";

@include b(cash-bulk){
  display: inline-block;
  width: $--cash-bulk-width;
  height: $--cash-bulk-height;
  background: transparent;
  border:1px solid $--cash-bulk-border;
  color: $--cash-bulk-color;
  padding: $--cash-bulk-padding;
  border-radius: $--cash-bulk-border-radius;
  box-sizing: border-box;
  & div{
    display: flex;
    justify-content: center;
    // align-items: center;
    font-size: $--cash-bulk-rmb-font-size;
    color:$--cash-bulk-rmb-color;
    // margin:px 6px;
    box-sizing: border-box;
    &:first-child{
      color:$--cash-bulk-year-color;
      font-size: $--cash-bulk-year-font-size;
      margin-bottom: 10px;
    }
  }
  & input{
    opacity: 0;
  }

  @include when(active) {
    
    background-color: mix($--color-white, $--color-primary, $--cash-bulk-active-shade-percent);
    // border-color: mix($--color-black, $--color-primary, $--cash-bulk-active-shade-percent);
    border:0px;
   &>div{
      color:$--color-primary!important;
    }
    &:before{
      position: absolute;
      content:'';
      width:25px;
      height:25px;
      margin-top:-15px;
      margin-left:53px;
      background-image: url("../assets/img/cash-buck-selected.png");
      background-size: 100% 100%;
    }
  }
}
