/*
 * @Author: zhongw@corp.21cn.com 
 * @Date: 2018-06-27 10:40:06 
 * @Last Modified by: zhongw@corp.21cn.com
 * @Last Modified time: 2018-08-22 11:47:02
 */

@charset 'utf-8';
@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@include b(page-navbar) {
  // display: table;
  position: relative;
  width: 100%;
  background: $--color-white;
  padding:20px 12.5px;
  min-height: 20px;
  box-sizing: border-box;
  // overflow: hidden;
  @include e(table) {
    display: flex;
    align-items: center;
    @include m(left) {
      justify-content: flex-start;
      flex-direction: row
    }
    @include m(right) {
      justify-content: space-between;
      flex-direction: row-reverse
    }
  }
  @include e(contents) {
    display:flex;
    align-items: center;
    height:100%;
    padding: 0 10px;
    overflow: hidden;
  }
  ;
  @include e(arrow) {
    i {
      color: $--color-grey-light;
    }
    // min-height: 20px;
    @include m(left) {
      transform: rotate(180deg);
      margin-left: 13.5px;
    }
    @include m(right) {
      margin-right: 13.5px;
    }
  }
}