@import "../../helps/var.scss";
@import "../../helps/mixin.scss";
@import "../../helps/utils.scss";
@import "./mixin.scss";

@include b(button-group) {
  display: table;
  vertical-align: middle;
  & .r-button {
    border-right: 1px solid #fff;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  @include m(fix) {
    width: $--button-fix-width+1px;
    height: $--button-fix-height;
    & .r-button{
      @include button-group-fix($--button-fix-font-size, $--button-fix-width, $--button-fix-height)
    }

  }

}
