@import "../../helps/var.scss";
@import "../../helps/mixin.scss";

@include b(form-item) {
  padding:5px 0px;
  display: flex;
  align-items: center;
  &>label{
    font-size: 14px;
    padding-right: 10px;
  }
  @include e(error){
    display: block;
    color:red;
  }

  @include when(error){
    & .r-input__inner > input{
      border-color: $--color-danger;
    }

  }
  @include when(success){
    & .r-input__inner > input{
      border-color: $--color-success;
    }

  }
}
